<div class="puzzle-container">
  <div class="puzzle-grid">
    <ng-container *ngFor="let position of [0, 1, 2, 3, 4, 5, 6, 7, 8]">
      <div 
        class="puzzle-piece" 
        [class.selected]="getPieceByPosition(position).isSelected"
        (click)="onPieceClick(getPieceByPosition(position))"
      >
        <img 
          [src]="getImagePath(getPieceByPosition(position))" 
          [alt]="'Puzzle piece ' + getPieceByPosition(position).id" 
          draggable="false"
        >
      </div>
    </ng-container>
  </div>
  
  <div class="puzzle-message" *ngIf="isCompleted">
    <h2>Congratulations!</h2>
    <button (click)="resetPuzzle()">Play Again</button>
  </div>
</div>
