<div class="welcome-container">
  <app-password-stage
    *ngIf="showPasswordStage"
    (passwordVerified)="onPasswordVerified()">
  </app-password-stage>

  <app-box-stage
    *ngIf="!showPasswordStage && !showTypewriter && !showPuzzle && !showEmojiStage && !showHeartStage && !showDecisionStage && !showEndStage && !showNextStage"
    (animationComplete)="onBoxAnimationComplete()">
  </app-box-stage>
  <app-puzzle-stage
    *ngIf="showPuzzle"
    (completed)="onPuzzleComplete()">
  </app-puzzle-stage>

  <app-typewriter-stage
    *ngIf="showTypewriter"
    [showTypewriter]="showTypewriter"
    (completed)="onTypewriterComplete()">
  </app-typewriter-stage>

  <app-emoji-stage
    *ngIf="showEmojiStage"
    (completed)="onEmojiStageComplete()">
  </app-emoji-stage>


  <app-heart-stage
    *ngIf="showHeartStage"
    (completed)="onHeartStageComplete()">
  </app-heart-stage>

  <app-decision-stage
    *ngIf="showDecisionStage"
    (completed)="onDecisionStageComplete()">
  </app-decision-stage>

  <app-end-stage
    *ngIf="showEndStage"
    (completed)="onEndStageComplete()">
  </app-end-stage>
</div>
